.listContainer {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  padding: 2rem;
  gap: 0.6rem;
  text-decoration: none;
  background-color: var(--secondary);
}

.header {
  display: flex;
  width: 100%;
}

.stack {
  flex-grow: 1;
  color: var(--fontPrimary);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.linkImg {
  display: none;
  width: 1.3rem;
  height: 1.3rem;
}

.name {
  color: var(--fontPrimary);
  font-size: 2.5rem;
}

.dis {
  color: var(--fontSecondary);
  font-size: 1rem;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.techItem {
  padding: 0.3rem;
  color: var(--fontSecondary);
  font-size: 0.8rem;
  background-color: var(--primary);
}

.listContainer:hover .tech {
  display: none;
}

.listContainer:hover .dialog {
  background-color: var(--inactive);
  gap: 0.8rem;
}

.listContainer:hover .name {
  padding: 1.5rem 0rem 0.5rem 0rem;
  color: var(--fontInactive);
}

.listContainer:hover .stack {
  color: var(--fontInactive);
}

.listContainer:hover .dis {
  color: var(--fontInactive);
}

.listContainer .dialog:hover {
  background-color: var(--secondary);
  transition: all 0.3s;
  transform: scale(1.15);
}

.dialog:hover .name {
  color: var(--fontPrimary);
}

.dialog:hover .stack {
  color: var(--fontPrimary);
}

.dialog:hover .dis {
  color: var(--fontSecondary);
}

.dialog:hover .linkImg {
  display: block;
}

@media (max-width: 680px) {
  .dialog {
    background-color: var(--secondary);
    gap: 0.8rem;
  }

  .stack {
    color: var(--fontPrimary);
  }

  .linkImg {
    display: block;
  }

  .name {
    padding: 1.5rem 0rem 0.5rem 0rem;
    color: var(--fontPrimary);
  }

  .dis {
    color: var(--fontSecondary);
  }

  .tech {
    display: none;
  }
}
